version: 1
runtime: python27
api_version: 1
threadsafe: yes

handlers:
- url: /locations/.*
  script: locations.app
  secure: always

libraries:
- name: webapp2
  version: "2.5.2"

env_variables:
  FORECAST_API_KEY: 'forecast_api_key'
